<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<appSettings>
		<add key="exePath" value="C:\ProgramData\ARS\demo.exe"/>
		<add key="logFolderPath" value="C:\ProgramData\ARS\Logs"/>
	</appSettings>
</configuration>
